body{
    font-family: 'Roboto', sans-serif;
}
#headerPart nav{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 80px;
}
ul,ol{
    list-style-type: none;
}
h1,h2,h3,h4,h5,h6,ul,ol,p{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}
.logo{
    width: 180px;
    height: 55px;
}
#menuList li{
    margin: 0 20px;
}
#menuList li a{
    font-size: 20px;
    font-weight: 400;
    color: #000;
}
#menuList li .btn{
    color: #fff;
    padding: 0.4rem 2rem;
}